@font-face {
    font-family: robotoRegular;
    src: url(/Media/Roboto-Regular.ttf);
  }
  
  * {
    font-family: robotoRegular;
    margin: 0;
    padding: 0;
  }
  
  

  /* Main / Allgemeines */
  
  a {
    text-decoration: none;
    color: #ffffff;
  }
  
  h2 {
    font-size: 24px;
    font-weight: normal;
  }
  
  main {
    background-color: #318cb8;
    color: #ffffff;
    min-height: 100vh;
    width: 100%;
  }
  
  /* Header / Footer*/
  
  header {
    background-color: #0B2F47;
    min-height: 120px;
    width: 100%;
    position: relative;
  }
  
  header nav ul li {
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
  }



  header nav ul li:last-child{
    float: right;
    margin-top: 50px;
    margin-right: 5%;
    text-align: center;
  }


  #dropwdown-menü{
    float: right;
    display:none;
  }

  
  
  footer {
    background-color: #0B2F47;
    display: inline-block;
    color: #ffffff;
    font-size: 16px;
    position: relative;
    bottom: 0;
    min-height: 120px;
    width: 100%;
  }
  
  .rechtliches {
    position: relative;
    display: block;
    margin-top: 10px;
    margin-left: 225px;
    float: left;
    
  }
  
  .kontakt {
    position: relative;
    margin-top: 10px;
    display: block;
    margin-right: 225px;
    float: right;

  }
  
  @media only screen and (max-width: 700px){

    .rechtliches {
        position: relative;
        display: block;
        margin-top: 10px;
        margin-left: 50px;
        float: left;
        
      }

      .kontakt {
        position: relative;
        margin-top: 10px;
        margin-right: 50px;
        float: right;
    
      }


    
      
     
      header nav li:not(li:first-child) {
        
        display: none;


      }


      #dropwdown-menü{
          display: block;
          float: right;
          margin-top: -95px;
          margin-right: 50px;
          font-size: 40px;
      }

  }

  /* Fahrzeug hinzufügen / bearbeiten */
  
  #fahrzeughinzufügen{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .seitenName{
    background-color: #224E6B;
    margin-top: 20px;
    width: 500px;
    text-align: center;
  }
  
  .seitenName h1{
    font-size: 40px	;
    text-decoration: none;
    font-weight: normal;
  }
  