@font-face {
  font-family: robotoRegular;
  src: url(/Media/Roboto/Roboto-Regular.ttf);
}

* {
  font-family: robotoRegular;
  margin: 0;
  padding: 0;
}

/* Main / Allgemeines */

a {
  text-decoration: none;
  color: #ffffff;
}

h2 {
  font-size: 24px;
  font-weight: normal;
}

main {
  background-color: #318cb8;
  color: #ffffff;
  height: 100%;
  width: 100%;
}

/* Header / Footer*/
header {
  background-color: #0b2f47;
  min-height: 100px;
  width: 100%;
  position: relative;
}

header nav ul li {
  display: inline-block;
  list-style: none;
  vertical-align: middle;
}

footer {
  background-color: #0b2f47;
  color: #ffffff;
  font-size: 16px;
  position: relative;
  bottom: 0;
  min-height: 100px;
  width: 100%;
}

.rechtliches {
  position: absolute;
  margin-top: 10px;
  margin-left: 225px;
  float: left;
}

.kontakt {
  position: absolute;
  margin-top: 10px;
  display: block;
  margin-left: 1500px;
  float: right;
}

/* Fahrzeug hinzufügen / bearbeiten */

.grid-container {
  padding-top: 40px;
  display: grid;
  justify-content: center;
  grid-template-columns: 300px 300px;
  grid-template-rows: 40px 40px 40px 40px 40px 40px 40px 40px 40px 40px;
  row-gap: 15px;
  padding-bottom: 40px;
}

.grid-container p {
  font-size: 28px;
  font-weight: bold;
}

#seitenName {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
  background-color: #224e6b;
  grid-column: 1 / span 2;
}

.attribut {
  display: flex;
  align-items: center;
  background-color: #224e6b;
  align-items: center;
  justify-content: center;
}

.attribut-eingabe {
  background-color: #ffffff;
}

#foto-upload {
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #224e6b;
}

#foto-upload p {
  margin-right: 40px;
}

#speichern {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: 1 / span 2;
  display: flex;
  align-items: center;
  background-color: #224e6b;
  margin-left: 30px;
  margin-right: 30px;
}

.attribut-eingabe {
  display: grid;
  width: 100%;
}

.dropdown img {
  float: right;
}
